extends base.pug
include mixins/video
include mixins/message


block content
    div.video__container
        each video in videos
            +video(video)
        else 
                li Nothing found