extends base
block content   
    script 
        include script/join.js
    div.form__container
        if errorMsg 
            small.err=errorMsg
               
        form(method="POST")
            div.form__box
                small(name="smallEmail") 이메일
                input(style={margin:'5px'},,type="email",onchange="emailCheck()",require ,name="email", placeholder="Email@jiny.com",maxlength='25')
            div.form__box
                small(name="smallName") 닉네임 (공백 불가) 
                input(style={margin:'5px'},type="text",require, onchange="nameCheck()", name="nickname", placeholder="Nickname")
            div.form__box
                small 이름
                input(style={margin:'5px'},type="text",require,name="username", placeholder="Name")
            div.form__box
                small 특수문자+문자+숫자
                small(style={margin:"0"}) (공백제외 8~15자)
                input(style={margin:'5px'},type="password", require, onchange="comparePw()",name="password1", placeholder="Password" ,minlength="8",maxlength="15")
                input(style={margin:'5px'},type="password",require, onchange="comparePw()", name="password2", placeholder="Check password", minlength="8",maxlength="15")
                small(name="check")
            input(name="join",value="submit",type="submit")
        br
        small 소셜 로그인
        form.sosial__form
            a.sosial__btn(href="/user/github/start") 깃허브
                i.fab.fa-github
            a.sosial__btn(href="/user/google/start") google
                img.kakao-img(src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe8b12cf6-c620-430c-8b03-bff1c1a295be%2FUntitled.png?table=block&id=bcd5b978-bace-4664-90ce-15bf97dbfa32&spaceId=beaa8bbc-f504-4c20-b220-9fc699f70e12&width=2000&userId=14cc2ef3-04b9-41f7-9991-3bf06bfcb033&cache=v22")
            a.sosial__btn(href="/user/kakao/login") kakao
                img.kakao-img(src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F7a7edf55-3336-470c-858d-69e14253cb8b%2FUntitled.png?table=block&id=24064121-a0fd-4c70-8d41-7a83b5cc890c&spaceId=beaa8bbc-f504-4c20-b220-9fc699f70e12&width=2000&userId=14cc2ef3-04b9-41f7-9991-3bf06bfcb033&cache=v2")