extends base
include mixins/search
//- 비디오  타이틀
//-         조회수 . 지난시간
//-         아바타 닉네임 구독여부
//-         데스크립션
//-         헤쉬태그
block content
    script 
        include script/search.js
    div.search__container
        each video in videos
            +search(video)
        else 
                li Nothing found
