extends base
block content 
    script 
        include script/sosial.js
    if errorMsg 
        h1=errorMsg 
    br
    div.form__container
        form(action="/user/sosial", method="POST")
            a
            input.sosial__emailcheck(readonly, type="text" name="userEmail",value=`${userEmail}`)
            br
            small 사이트에서 비밀번호를 입력해 주세요.  
            br
            small (특수문자+문자+숫자 8~15자리)
            br
            div.form__box
                br
                input(type="password",require, name="password1", placeholder="password" ,minlength="9",maxlength="20")
                input(value="Go",type="submit")